body {
  background-color: rgb(243, 239, 247);
}
header {
  display: flex;
  background-color: #539b98;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.mainTitle {
  font-weight: bold;
  color: white;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-location {
  padding: 10px;
  background-color: 539b98;
  color: #539b98;
}
.input-city {
  font-size: 35px;
}
.card .daily {
  margin: 0 5px;
  box-sizing: border-box;
  width: 100%;
  border: solid #778899 1px;
  padding: 6px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-weekdays {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.name-day {
  width: 100%;
  padding: auto 0;
  line-height: 1.5;
}
.weekday-temp {
  line-height: 3rem;
}
.icon-weekday {
  font-size: 28px;
}
.current-date {
  margin-top: 5px;
  color: #778899;
}
.header-weather {
  color: lightslategray;
  font-style: inherit;
}
.main-information {
  text-align: center;
}
.current-temperature {
  font-size: 45px;
  margin-top: 0;
}
.other-info {
  font-size: 50px;
}

.complementary-info {
  font-size: 13px;
  text-align: left;
  padding: 0 70px;
}

.main-icon {
  padding-left: 20px;
  font-size: 40px;
}

.container {
  margin-top: 40px;
  margin-bottom: 0;
  font-family: "Noto Serif", serif;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openSrc {
  font-size: 10px;
  font-family: "Noto Serif", serif;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
